<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crud.mapper.DataMapper">
  <resultMap id="BaseResultMap" type="com.example.crud.model.entity.Data">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="customer_phone" jdbcType="VARCHAR" property="customerPhone" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.example.crud.model.entity.Data" useGeneratedKeys="true">
    insert into data (customer_name, customer_phone, price, 
      create_time, company_id, company_name
      )
    values (#{customerName,jdbcType=VARCHAR}, #{customerPhone,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{companyId,jdbcType=BIGINT}, #{companyName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.crud.model.entity.Data">
    update data
    set customer_name = #{customerName,jdbcType=VARCHAR},
      customer_phone = #{customerPhone,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      company_id = #{companyId,jdbcType=BIGINT},
      company_name = #{companyName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, customer_name, customer_phone, price, create_time, company_id, company_name
    from data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, customer_name, customer_phone, price, create_time, company_id, company_name
    from data
  </select>

  <!-- 分页查询 -->
  <select id="selectByPage" resultType="com.example.crud.model.entity.Data">
    select
    d.*
    from data d
    where 1=1
    <trim prefix="and(" prefixOverrides="and" suffix=")">
      <if test="id != null">
        and d.id = #{id}
      </if>
      <if test="customerName != null">
        and d.customer_name = #{customerName}
      </if>
      <if test="customerPhone != null">
        and d.customer_phone = #{customerPhone}
      </if>
      <if test="price != null">
        and d.price = #{price}
      </if>
      <if test="createTime != null">
        and d.create_time = #{createTime}
      </if>
      <if test="companyId != null">
        and d.company_id = #{companyId}
      </if>
      <if test="companyName != null">
        and d.company_name = #{companyName}
      </if>
    </trim>
    ORDER BY d.create_time desc
  </select>
</mapper>